      <li class="divider"></li>
      <li>
        <%= link_to root_path do %>
          <i class="fi-home"></i>&nbsp;&nbsp;Home
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to signup_path do %>
          <i class="fi-torso"></i>&nbsp;&nbsp;Signup
        <% end %>
      </li>
      <li class="divider"></li>     
      <li class="has-dropdown">
        <%= link_to "Account", "#" %>
        <ul class="dropdown">            
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fi-torso"></i>&nbsp;&nbsp;Profile
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user) do %>
              <i class="fi-widget"></i>&nbsp;&nbsp;Settings
            <% end %>
          </li>
        </ul>
      </li>
      <li class="divider"></li> 
      <li>
        <%= link_to logout_path, method: "delete" do %>
          <i class="fi-lock"></i>&nbsp;&nbsp;Logout
        <% end %>
      </li>              